<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>LinkTree | Gotham Designs Studio</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/imagens/favicon.png" type="image/x-icon" />
    <script type="text/javascript" src="assets/js/script.js"></script>
</head>

<body>
    <i onclick="mostrar(this)" class="fa fa-moon-o fa-2x night_mode"></i>

    <img id="userPhoto" src="pop.png" alt="User Photo">

    <spam id="userName">Gotham Designs Studio</spam>

    <div id="links">
        <a class="link" href="https://gothamdesigns.studio/Redbubble" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-globe" aria-hidden="true"></i> Redbubble Store</a>
        <!--<a class="link" href="https://github.com/guiscota" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-github"></i> Github</a>-->
        <!--<a class="link" href="https://www.instagram.com/gothamgamer117/" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>-->
        <a class="link" href="https://gothamdesigns.studio/Pinterest" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-pinterest" aria-hidden="true"></i> Pinterest</a>
        <a class="link" href="https://gothamdesigns.studio/Cashapp" target="_blank" style="border-radius: 25px;background-color:limegreen;"><i
                class="fa fa-dollar" aria-hidden="true"></i> Cashapp</a>
        <a class="link" href="https://gothamdesigns.studio/Venmo" target="_blank" style="border-radius: 25px;background-color:limegreen;"><i
                class="fa fa-dollar" aria-hidden="true"></i> Venmo</a>
        
        <a class="link" href="https://gothamdesigns.studio/Forbidden" target="_blank" style="border-radius: 25px;"><i
                class="fa fa-globe" aria-hidden="true"></i> Don't Click This</a>
    </div>


    <div class="footer">
        <a href="https://gothamdesigns.studio/Instagram" target="_blank">
            <i style="line-height: 38px;" class="fa fa-instagram circulo" aria-hidden="true"></i>
        </a>
        <a href="https://gothamdesigns.studio/Facebook" target="_blank">
            <i style="line-height: 38px;" class="fa fa-facebook-f circulo" aria-hidden="true"></i>
        </a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="index.js"></script>
</body>

</html>
